---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { blogTagRobots, getStaticPathsBlogTag, getRandomPosts } from '~/utils/blog-strapi';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';
import Grid from '~/components/blog/Grid.astro';
import BlogCategoriesTags from '~/components/widgets/BlogCategoriesTags.astro';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogTag({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page, tag } = Astro.props as Props;

const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `Posts by tag '${tag.title}'${currentPage > 1 ? ` — Page ${currentPage} ` : ''}`,
  robots: {
    index: blogTagRobots?.index,
    follow: blogTagRobots?.follow,
  },
};

const randomPosts = await getRandomPosts({ count: 4 });
---

<Layout metadata={metadata}>
  <section class="px-4 md:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline>Tag: {tag.title}</Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />

    <!-- Wybrane artykuły -->
    {randomPosts.length > 0 && (
      <div class="mt-12">
        <h2 class="text-2xl font-bold mb-6">Wybrane artykuły</h2>
        <Grid posts={randomPosts} />
      </div>
    )}

    <!-- Kategorie i tagi -->
    <div class="mt-8">
      <BlogCategoriesTags />
    </div>
  </section>
</Layout>
